@use "design-system";
@use "sass:map";

.typography {
  @include design-system.Paragraph;

  & b,
  & strong {
    font-weight: 700;
  }

  @each  var(--variant) in map.keys(design-system. var(--typography-variants)) {
    &--#{ var(--variant)} {
      @include design-system.typography( var(--variant));
    }
  }

  @each  var(--variant),  var(--color) in design-system. var(--color-map) {
    &--color-#{ var(--variant)} {
      color: var( var(--color));
    }
  }

  @each  var(--weight) in design-system. var(--font-weight) {
    &--weight-#{ var(--weight)} {
      font-weight:  var(--weight);
    }
  }

  @each  var(--style) in design-system. var(--font-style) {
    &--style-#{ var(--style)} {
      font-style:  var(--style);
    }
  }

  @each  var(--alignment) in design-system. var(--text-align) {
    &--align-#{ var(--alignment)} {
      text-align:  var(--alignment);
    }
  }

  @for  var(--i) from 1 through 8 {
    &--spacing-#{ var(--i)} {
      margin: #{ var(--i) * 4}px auto;
    }
  }
}
