.create-nft {
  color: #6A737D;
  font-size: 12px;
  padding: 24px;

  input,
  textarea {
    font-size: 12px;
  }

  &__label {
    margin-right: 4px;
  }

  &__add-attr-btn {
    display: inline;
    font-size: 14px;
    padding: 0;
    margin-top: 16px;
  }

  &__upload-area {
    background: #037dd617;
    border: 2px dashed #037DD6;
    border-radius: 4px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__cancel-btn-wrapper,
  &__continue-btn {
      width: 50%;
  }

  &__drag-text {
    color: #6A737D;
    font-size: 12px;
    margin-top: 8px;
  }

  &__file-upload-input {
    height: 0;
    visibility: hidden;
  }

  &__upload-text {
    color: #037DD6;
    cursor: pointer;
    font-size: 12px;
    margin-top: 8px;
    text-decoration: underline;
  }

  &__img {
    height: auto;
  }

  &__nft-img {
    border-radius: 4px;
    width: 100%;
  }

  &__nft-img-wrapper {
    text-align: center;
  }

  &__warning {
    color: #D73A49;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    width: 90%;
  }

  &__link-btn {
    color: #037DD6;
    font-weight: 400;
    font-size: 14px;
    margin: 24px 0;
    text-align: center;
  }

  &__fee-info {
    font-weight: 400;
    font-size: 14px;
    color: #6A737D;
    font-style: italic;
    text-align: center;
  }

  &__gas-fee-label {
    font-size: 16px;
    text-align: center;
    color: #6A737D;
  }

  &__rarible-label {
    font-size: 24px;
    font-weight: bold;
    color: #24292E;
  }

  &__nft-attrs {
    color: #24292E;
    width: 100%;
    font-size: 14px;

    strong {
      font-weight: 700;
    }
  }

  &__nft-description {
    font-weight: 400;
    font-size: 14px;
    color: #6A737D;
  }
}

.page-container__header-row {
  margin-bottom: -32px;
  margin-left: 16px;
}