@use "utilities";
@use "design-system";

 var(--sizes): (
  'xl': 8,
  'lg': 6,
  'md': 5,
  'sm': 4,
  'xs': 2.5,
);

.color-indicator {
    $self : &;

  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner-circle {
    background-color: transparent;
  }

  @each  var(--variant),  var(--size) in  var(--sizes) {
    &--size-#{ var(--variant)} {
      height: #{2 *  var(--size)}px;
      width: #{2 *  var(--size)}px;
      border-radius: #{ var(--size)}px;

      #{  $self }__inner-circle {
        border-radius: #{ var(--size)}px;
        height: #{ var(--size)}px;
        width: #{ var(--size)}px;
      }

      #{  $self }__icon {
        font-size: #{1.25 *  var(--size)}px;
      }
    }
  }

  @each  var(--variant),  var(--color) in design-system. var(--color-map) {
    &--color-#{ var(--variant)} {
      border-color: var( var(--color));
      &#{  $self }--partial-filled #{  $self }__inner-circle {
        background-color: var( var(--color));
      }
      &#{  $self }--filled {
        background-color: var( var(--color));
      }
      & #{  $self }__icon {
        color: #{utilities.choose-contrast-color(var( var(--color)))};
      }
    }
  }

  // separate iterator to ensure borderColor takes precedence
  @each  var(--variant),  var(--color) in design-system. var(--color-map) {
    &--border-color-#{ var(--variant)} {
      border-color: var( var(--color));
    }
  }
}
